/*font-family: 'Pacifico', cursive;
font-family: "Roboto", sans-serif; */
/* color: #f8f398; */

body {
  text-align: center;
  background: #cbf078;
}
h1 {
  text-shadow: 5px 5px #f8f398;
  font-size: 100px;
}

em {
  text-decoration: underline;
  margin-top: 10px;
}

p {
  font-size: 20px;
}

i {
  font-size: 40px;
  padding: 10px;
  color: black;
}

nav {
  font-weight: bolder;
}

img {
  max-width: 250px;
  margin-right: 30px;
  box-shadow: 5px 5px #f8f398;
}

a {
  color: black;
}

h1,
.navbar-brand {
  font-family: "Pacifico", cursive;
}

em,
p,
nav,
.contact-text {
  font-family: "Roboto", sans-serif;
}

i:hover {
  color: #f8f398;
}

.navbar-brand {
  font-size: 30px;
  text-shadow: 4px 4px #f8f398;
}

.btn {
  margin: 15px;
  border-color: #f8f398;
}
.btn:hover {
  color: #cbf078;
  background-color: #212529;
  border-color: #f8f398;
}

.contact-icons {
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 75px;
}

.contact-text {
  font-size: 15px;
  color: #212529;
}
.contact-text:hover {
  color: #212529;
}

.hero {
  margin-top: 100px;
}
.about-me {
  display: inline-flex;
  margin: 10px;
}

.skills {
  text-decoration: underline;
  text-align: center;
}

.recent-work {
  box-shadow: none;
  max-width: 90%;
  height: auto;
  margin-top: 30px;
}

.recent-work:hover {
  -webkit-box-shadow: 0px 0px 100px 0px #fdf443;
  -moz-box-shadow: 0px 0px 100px 0px #fdf443;
  box-shadow: 0px 0px 100px 0px #fdf443;
  transition: 0.8s ease;
}

.project-info {
  font-size: 16px;
}

.recent-header {
  font-size: 16px;
}

.footer {
  font-size: 13px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
}
